body,
html {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
div.header {
    margin-top: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.header>img {
    width: 6em;
    height: 6em;
    border-radius: 100%;
    border: 3px solid #5439bf;
    box-shadow: #5439bf 0px 0px 30px 10px;
}

div.header>h1 {
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 0em;
    margin-bottom: 0em;
}

div.header>h2 {
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 0em;
    margin-bottom: 0em;
}

/* Links */
ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 0em 1em;
    width: 20em;
}

ul>li {
    padding: 0.5em;
    margin: 1.6em 0;
    background-color: #4227ad;
    border-radius: 10em;
    border: 3px solid #4227ad;
    letter-spacing: 0.4px;
    transition: 0.5s;
    transition-property: box-shadow;
}

ul>li:hover {
    box-shadow:
        0 0 5px #4227ad,
        0 0 20px #4227ad,
        0 0 20px #4227ad,
        0 0 20px #4227ad;
}

ul>li>a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 1em;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

/* Icons */
img.icon-svg {
    width: 22px;
    height: 22px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 0.8em;
    padding-top: 2em;
}